section *, nav * {
  font-family: "Montserrat", sans-serif !important;
}

html, body {
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}


/** HEADER  STUFF **/

.headerFadeAnim {
  -webkit-animation: headerFade 1.5s;
}

.logoFadeAnim {
  -webkit-animation: logoFade 1.25s;
}

.logoFade2Anim {
  -webkit-animation: logoFade2 1.25s;
}

.logoFade3Anim {
  -webkit-animation: logoFade3 1.25s;
}

#navbarHeader {
  height: 100vh;
  background-color: #fff;
  border: none !important;
	z-index: 998;
}

#logo .st0 {
  fill:none;
	stroke:#000000;
	stroke-width:10;
	stroke-miterlimit:10;
}
#logo .st1 {
  stroke:#000000;
	stroke-width:2;
	stroke-miterlimit:10;
}
#logo .st2 {
  fill:#000000;
}

#logo {
  height: 17vh;
  width: auto;
  position: relative;
  opacity: 0;
  display: block;
  margin: 0 auto;
  margin-top: 32.5vh;
	z-index: 999;
}

.hidden {
  display: none;
}

.hidden2 {
  opacity: 0 !important;
}

.titleContainer {
  border: solid 3px #000;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  width: max-content;
}

.brandSection {
  min-height: 100vh !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footerSection {
  background: #000;
  color: #fff !important;
  height: 11vh !important;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  line-height: 10px;
  font-size: 1em;
}

.footerInfo {
  padding-top: 1.75vh;
  margin: 0 auto;
  width: 100vw;
  height: inherit;
}

#blankName {
  line-height: 15px;
  font-size: 1.45em;
}

.²markit {
  font-size: 9.5px;
  margin-top: 1.75vh;
  margin-bottom: 0px;
}

.wrapperSocials {
  margin: 0 auto;
  margin-top: -6.5vh;
  margin-left: 5vw;
  height: 2.5vh;
  float: left;
}

.socials {
  height: 2.5vh;
  display: inline-flex;
  padding: 0 0.45vw;
}

.socials img {
  height: 2.5vh;
}

h1 {
  text-align: center;
  margin: 0px;
  font-size: 4.75rem;
}

.sectionText {
  font-size: 1.075em !important;
  text-align: center;
  line-height: 22.5px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.rightParagraph {
  max-width: 40vw;
  height: 85vh;
  margin: 0 auto;
  margin-right: 0vw;
  padding: 28vh 7.5vh 25vh 7.5vh;
  vertical-align: middle;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.leftParagraph {
  max-width: 40vw;
  height: 85vh;
  margin: 0 auto;
  margin-left: 0vw;
  padding: 28vh 7.5vh 25vh 7.5vh;
  vertical-align: middle;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.alt-btn {
	-webkit-transition: ease-in-out 0.35s ease-in-out;
	-moz-transition: ease-in-out 0.35s ease-in-out;
	-ms-transition: ease-in-out 0.35s ease-in-out;
	-o-transition: ease-in-out 0.35s ease-in-out;
	transition: ease-in-out 0.35s ease-in-out;
	height: 30px;
	padding: 0 30px;
	text-align: center;
	line-height: 31px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border: 1px solid #000;
	cursor: pointer;
	border-radius: 0;
	margin: 0 auto;
	bottom: -6vh;
	color: #000;
	position: relative;
	display: flex;
	z-index: 1;
}

/** NAVIGATION **/
.spinner {
  width: 100%;
  height: inherit;
  position: relative;
}
.spinner:after, .spinner:before {
  content: "";
  display: block;
  height: 35px;
}

.spinner-5 {
  height: 0px;
}
.spinner-5 span {
  height: 35px;
}
.spinner-5 span:nth-child(1) {
  -webkit-animation: bounce 2.65s ease-in-out infinite;
  animation: bounce 2.65s ease-in-out infinite;
}


#arrowMobile {
	display: none !important;
}

@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    will-change: transform;
  }
  25%, 75% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    will-change: transform;
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    will-change: transform;
  }
  25%, 75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    will-change: transform;
  }
}

.prev {
  margin-left: 0;
}

.next {
  display: none;
  width: 60px;
  position: relative;
  margin: 0 auto;
  height: 40px;
}

.icon-wrap {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  width: 50%;
  display: flex;
  background: transparent;
}

.icon-wrap img {
  height: 35px;
  width: 35px;
  display: flex;
  background: transparent;
  margin: 0 auto;
}

#return-to-top {
  position: fixed;
  bottom: 27.5px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: 5px solid #fff;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  -webkit-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 11px 31px -7px rgba(0, 0, 0, 0.75);
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 11.35px;
  top: 9.45px;
  font-size: 19px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#return-to-top:hover {
  background: #fff;
}

#return-to-top:hover i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 19px;
}

/** SPLIT PANELS **/

.splitPanels {
  display: flex;
  perspective: 2000px;
  max-width: 60vw;
  margin: 0 auto;
  margin-top: 4vw;
  transform: scale(0.95);
}

/*Left Panel*/

.frontLeft,
.backLeft {
  transform-origin: right center;
  position: absolute;
  overflow: hidden;
  -webkit-box-shadow: -17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -17px 9px 40px -6px rgba(0, 0, 0, 0.75);
}

.frontLeft {
  z-index: 4;
  display: none;
}

.backLeft {
}

.leftPanel {
  transform-style: preserve-3d;
  transform-origin: right center;
  position: relative;
  margin-left: 0;
  background: #fff;
  z-index: 4;
}

.leftPanel:active {
  transform-style: preserve-3d;
  transform-origin: right center;
  position: relative;
  margin-left: 0vw;
  background: #fff;
}


#leftSide {
  margin-left: 1.5vw;
  float: left;
}

.leftPanel,
.rightPanel,
.leftPanel figure, .rightPanel figure {
  height: calc(1500px / 2);
  width: calc(480px / 2);
}

.leftPanel img, .rightPanel img {
  height: calc(1500px / 2);
  width: calc(480px / 2);
}

/*Center Panel*/

.centerPanel {
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
  z-index: 1;
  height: calc(1500px / 2);
  width: calc(1000px / 2);
  -webkit-box-shadow: 0px 28px 55px -23px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 55px -23px rgba(0,0,0,0.75);
  box-shadow: 0px 28px 55px -23px rgba(0,0,0,0.75);
}

.centerPanel img {
  position: relative;
  height: calc(1500px / 2);
  width: calc(1000px / 2);
}


/*Right Panel*/

#rightSide {
  margin-right: 1.5vw;
  float: right;
}

.frontRight,
.backRight {
  position: absolute;
  transform-origin: left center;
  overflow: hidden;
  -webkit-box-shadow: 17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 9px 40px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 9px 40px -6px rgba(0, 0, 0, 0.75);
}

.frontRight {
  z-index: 4;
  display: none;
}

.backRight {
}

.rightPanel {
  transform-style: preserve-3d;
  position: relative;
  background: #fff;
  z-index: 4;
}

.rightPanel:active {
  transform-style: preserve-3d;
  transform-origin: right center;
  position: relative;
  margin-right: 0vw;
  background: #fff;
}

/* Front, Back of brochure*/


.frontRight,
.frontLeft {
  backface-visibility: hidden;
}


.frontRight,
.frontLeft,
.backRight,
.backLeft {
  position: absolute;
  /*backface-visibility: hidden;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*MOBILE*/
.mobilePanel {
	height: 30vh;
	padding-top: 9.5vh;
}

.logoBg{
	margin: 0 auto;
	padding-top: 1.5vh;
	display: block;
	height: 8.5vh;
}

.mobileTitleContainer {
  margin: 0 auto;
  width: 100vw;
  height: 10vh;
	background-color: rgba(255, 255, 255, 0.50);
}

#mobileSect1 {
	background-image: url('../img/vision-bg.jpg');
	background-position: center;
	background-size: cover;
}
#mobileSect2 {
	background-image: url('../img/method-bg.jpg');
	background-position: center;
	background-size: cover;
}
#mobileSect3 {
	background-image: url('../img/branding-bg.jpg');
	background-position: center;
	background-size: cover;
}
#mobileSect4 {
	background-image: url('../img/marketing-bg.jpg');
	background-position: center;
	background-size: cover;
}
#mobileSect5 {
	background-image: url('../img/production-bg.jpg');
	background-position: center;
	background-size: cover;
}
#mobileSect6 {
	background-image: url('../img/socials-bg.jpg');
	background-position: center;
	background-size: cover;
}

/*Right Panels*/
@-webkit-keyframes frontRight {
  0% {
    transform: rotateY(-194deg);
    transform-origin: left center;
    will-change: transform;
  }
  100% {
    transform: rotateY(0deg);
    will-change: transform;
  }
}
@-webkit-keyframes backRight {
  0% {
    transform: rotateY(0deg);
    transform-origin: right center;
    will-change: transform;
  }
  100% {
    transform: rotateY(194deg);
    will-change: transform;
  }
}

/*Left Panels*/

@-webkit-keyframes frontLeft {
  0% {
    transform: rotateY(194deg);
    transform-origin: right center;
    will-change: transform;
  }
  100% {
    transform: rotateY(0deg);
    will-change: transform;
  }
}
@-webkit-keyframes backLeft {
  0% {
    transform: rotateY(0deg);
    transform-origin: right center;
    will-change: transform;
  }
  100% {
    transform: rotateY(-194deg);
    will-change: transform;
  }
}

.leftAnim {
  -webkit-animation: frontLeft 1s;
}

.rightAnim {
  -webkit-animation: frontRight 1s;
}

.backLeft {
  z-index: 5 !important;
  background: #fff;
}

.backRight {
  z-index: 5 !important;
  background: #fff;
}


    /*LOGO SHRINK ANIMATION*/

@-webkit-keyframes headerFade {
  0% {
    background-color: #fff;
  }
  70% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}

@-webkit-keyframes logoFade {
  0% {
    stroke:#000;
  }
  70% {
    stroke:#000;
  }
  100% {
    stroke:#FFFFFF;
  }
}

@-webkit-keyframes logoFade2 {
  0% {
    stroke:#000;
  }
  70% {
    stroke:#000;
  }
  100% {
    stroke:#FFFFFF;
  }
}

@-webkit-keyframes logoFade3 {
  0% {
    fill:#000;
  }
  70% {
    fill:#000;
  }
  100% {
    fill:#FFFFFF;
  }
}

/**SECTION 1 **/
#section1 {
  margin-top: 7vh;
}

/**SECTION 2 **/
#section2  {
}

/**SECTION 3 **/
#section3 {
}

/**SECTION 4**/
#section4 {
}

/**SECTION 5 **/
#section5 {
}

/**SECTION 6 **/
#section6 {
}

/**SECTION 7**/
#section7 {
}


/***************         MEDIA QUERIES       ***************/
/* SMALL PHONES */
@media (max-width: 320px) {
	#section6 {
    min-height: 96vh !important;
	}
	#contact-us, #return-to-top {
    width: 40px;
    height: 40px;
	}
	#contact-us i {
		left: 7.5px;
    top: 6px;
    font-size: 16px;
	}
	#contact-area {
    height: 93vh !important;
    width: 100vw !important;
    margin: 0 auto;
    padding: 1em;
    top: 7vh !important;
    left: 0 !important;
		z-index: 105 !important;
	}
	#contact-area h2 {
		margin-top: 0 !important;
	}
	.form-control {
    height: 28px !important;
		font-size: 1em !important;
	}
	#return-to-top i {
		left: 7.35px;
    top: 6px;
    font-size: 18px;
	}
	.sectionText {
		font-size: 0.85em !important;
		line-height: 18.5px !important;
	}
	.mobilePanel {
    height: 35vh;
    padding-top: 12.5vh;
	}
	.icon-wrap {
		bottom: -3vh !important;
	}

	.footerSection {
	  height: 25vh !important;
	}

	.wrapperSocials {
	    margin: 5vh 0 0.5vh 0 !important;;
	}

	.alt-btn {
    font-size: 1.25rem;
	}
}

/* STUPID PHONES */
@media (min-width: 370px) and (max-width: 376px) {
.logoBg {
    margin: 0 auto;
    padding-top: 2vh;
    display: block;
    height: 8vh;
	}
}

/* LARGE PHONES */
@media (max-width: 750px) {
	#section6 {
    min-height: 85vh;
	}
	.icon-wrap {
	  margin-bottom: -27.5px;;
	}
	#logo {
	}
	#contact-area {
    width: 95vw;
    margin: 0 auto;
    padding: 1em;
    /* left: 33%; */
    top: 13vw;
		left: 2.5vw;
	}
	#contact-area textarea {
		width: 75vw;
    font-size: 1.2em;
	}
	#contact-area input, #contact-area select {
    padding: 5px;
    width: 75vw;
    margin: 0 auto;
    font-size: 1.2em;
	}
	.form-control {
	    display: block;
	    width: 75vw;
	}
	.icon-wrap img {
    height: 30px;
    width: 30px;
	}
	.leftParagraph, .rightParagraph {
    height: 42vh !important;
	  float: none !important;
    margin: 0 auto !important;
    max-width: 100vw !important;
    padding: 10vh 2vh 5vh 2vh !important;
	}
	.sectionText{
    line-height: 22.5px;
    min-height: 30vh;
	}
  #mobilePanel {
    display: block !important;
  }
	.titleContainer {
		display: none !important;
	}
  #logo {
    height: 10vh;
    margin-top: 32.5vh;
  }

  .splitPanels {
    display: none !important;
  }

  .footerSection {
    font-size: .85em !important;
    line-height: 5px !important;
    height: 19vh !important;
  }

  .footerInfo {
    margin: 0 auto !important;
    padding-top: 2vh !important;
    height: 13vh !important;
  }

  #blankName {
    font-size: 1.5em;
  }

  .²markit {
    font-size: 9.5px;
    margin-top: 1.75vh;
    margin-bottom: 0px;
  }

  .wrapperSocials {
    margin: 0.5vh 0 0.5vh 0;
    height: 2.5vh;
    display: inline-block;
    float: none !important;
  }

  .socials {
    height: 2.5vh;
    display: inline-flex;
    padding: 0 0.45vw;
  }
  .socials {
    height: 3.5vh !important;
    padding: 0 1.5vw !important;
  }

  .socials img {
    height: 3.5vh !important;
  }
}


/* TABLETS */
@media (min-width: 750px) and (max-width: 1000px) {
	#section6 {
	  min-height: 85vh !important;
	}
	.icon-wrap {
		bottom: -10vh;
	}
	#logo {
		margin-top: 0.75vh !important;
	  height: 5.5vh !important;
	}
	#navbarHeader {
		height: 7vh !important;
	}
	#contact-area {
    width: 95vw;
    margin: 0 auto;
    padding: 1em;
    /* left: 33%; */
    top: 25vw;
		left: 2.5vw;
	}
	#contact-area textarea {
		width: 75vw;
    font-size: 1.2em;
	}
	#contact-area input, #contact-area select {
    padding: 5px;
    width: 75vw;
    margin: 0 auto;
    font-size: 1.2em;
	}
	.form-control {
	    display: block;
	    width: 75vw;
	}
	.icon-wrap img {
    height: 30px;
    width: 30px;
	}
	.leftParagraph, .rightParagraph {
    height: 42vh !important;
	  float: none !important;
    margin: 0 auto !important;
    max-width: 100vw !important;
    padding: 10vh 2vh 5vh 2vh !important;
	}
	.sectionText{
    line-height: 32px;
    font-size: 1.5em !important;
		width: 80vw;
		margin: 0 auto;
	}
  .mobilePanel {
    height: 40vh !important;
    padding-top: 15vh !important;
  }
	.titleContainer {
		display: none !important;
	}
  #logo {
    height: 10vh;
    margin-top: 32.5vh;
  }
	.icon-wrap {
    bottom: -5vh;
	}
	.icon-wrap img {
    height: 45px;
    width: 45px;
	}
  .splitPanels {
    display: none !important;
  }

  .footerSection {
    font-size: 1em !important;
    line-height: 10px !important;
    height: 15vh !important;
  }

  .footerInfo {
    margin: 0 auto !important;
    padding-top: 2vh !important;
    height: 10vh !important;
  }

  #blankName {
    font-size: 1.5em;
  }

  .²markit {
    font-size: 9.5px;
    margin-top: 1.75vh;
    margin-bottom: 0px;
  }

  .wrapperSocials {
    margin: 0.5vh 0 0.5vh 0;
    height: 2.5vh;
    display: inline-block;
    float: none !important;
  }

  .socials {
    height: 2.5vh;
    display: inline-flex;
    padding: 0 0.45vw;
  }
  .socials {
    height: 3.5vh !important;
    padding: 0 1.5vw !important;
  }
  .socials img {
    height: 2.5vh !important;
  }
}


/* TABLETS */
@media (min-width: 1000px) and (max-width: 1351px) {
	#section6 {
	  min-height: 85vh !important;
	}
	.icon-wrap {
		bottom: -10vh;
	}
	#logo {
		margin-top: 0.75vh !important;
	  height: 5.5vh !important;
	}
	#navbarHeader {
		height: 7vh !important;
	}
	#contact-area {
    width: 95vw;
    margin: 0 auto;
    padding: 1em;
    /* left: 33%; */
    top: 12vw;
		left: 2.5vw;
	}
	#contact-area textarea {
		width: 75vw;
    font-size: 1.2em;
	}
	#contact-area input, #contact-area select {
    padding: 5px;
    width: 75vw;
    margin: 0 auto;
    font-size: 1.2em;
	}
	.form-control {
	    display: block;
	    width: 75vw;
	}
	.icon-wrap img {
    height: 30px;
    width: 30px;
	}
	.leftParagraph, .rightParagraph {
    height: 42vh !important;
	  float: none !important;
    margin: 0 auto !important;
    max-width: 100vw !important;
    padding: 10vh 2vh 5vh 2vh !important;
	}
	.sectionText{
    line-height: 40px;
    font-size: 2em !important;
		width: 75vw;
		margin: 0 auto;
	}
  .mobilePanel {
    height: 42vh !important;
    padding-top: 16.5vh !important;
  }
	.titleContainer {
		display: none !important;
	}
  #logo {
    height: 10vh;
    margin-top: 32.5vh;
  }
	.icon-wrap {
    bottom: -5vh;
	}
	.icon-wrap img {
    height: 45px;
    width: 45px;
	}
  .splitPanels {
    display: none !important;
  }

  .footerSection {
    font-size: 1em !important;
    line-height: 10px !important;
    height: 15vh !important;
  }

  .footerInfo {
    margin: 0 auto !important;
    padding-top: 2vh !important;
    height: 10vh !important;
  }

  #blankName {
    font-size: 1.5em;
  }

  .²markit {
    font-size: 9.5px;
    margin-top: 1.75vh;
    margin-bottom: 0px;
  }

  .wrapperSocials {
    margin: 0.5vh 0 0.5vh 0;
    height: 2.5vh;
    display: inline-block;
    float: none !important;
  }

  .socials {
    height: 2.5vh;
    display: inline-flex;
    padding: 0 0.45vw;
  }
  .socials {
    height: 3.5vh !important;
    padding: 0 1.5vw !important;
  }
  .socials img {
    height: 2.5vh !important;
  }
}

@media (min-width: 1351px) and (max-width: 1475px) {
	.splitPanels {
    max-width: 72vw;
	  margin-top: 4vw;
    margin-left: -10vw !important;
	  transform: scale(0.65);
	}
	.rightParagraph, .leftParagraph {
		max-width: 41vw;
    padding: 28vh 7.5vh 25vh 0vh;
	}
}

@media (min-width: 1475px) and (max-width: 1650px) {
	.splitPanels {
    max-width: 72vw;
	  margin-top: 4vw;
    margin-left: -4vw !important;
	  transform: scale(0.8);
	}
	.rightParagraph, .leftParagraph {
	  max-width: 42vw;
	  padding: 28vh 7.5vh 25vh 5vh;
	}
}

@media (max-width: 1351px) {
	#arrow {
		display: none !important;
	}
	#arrowMobile {
		display: block !important;
	}
}

@media (min-width: 1351px) {
  .mobilePanel {
    display: none !important;
  }
	#arrowMobile {
		display: none !important;
	}
}
